body {
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    background-image: url(https://images.squarespace-cdn.com/content/v1/581d96c8b3db2b4ee656fbb9/1484561524179-IMJG7JH0YOYEFWV1F0LX/Websitebackground5.jpg?format=2500w);
    background-repeat:no-repeat;
    background-color: #379fa9;
    background-size:cover;
    background-attachment: fixed;
    color: white;
  }
  header {
    display: flex;
    padding: 5px;
    width: 1200px;
    margin: auto;
  }
  h1 {
    margin: 30px;
    padding: 20px;
  }
  nav .navigation {
    width: 1200px;
    margin: auto;
  }
  nav {
    background-color: #f3f3f4;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:end;
  }
  nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: #191645;
  }

  nav li a:hover {
    background-color: #379fa9;
    color: white;
  }

  main h2 {
    width: 1200px;
    margin: auto;
    padding: 30px;
  }
  #mainfigure {
    text-align: center;
    padding: 25px;
    width: 1200px;
    margin: auto;
  }

  article p,h2,h3,form{
      text-align: center;
  }

  footer {
    display: flex;
    clear: both;
    background-color: #379fa9;
    color: white;
    align-content: space-between;
    padding: 70px;
  }
  footer .wrapper {
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: 10px;
  }
  